ul {
    list-style-type: none;
}

div.blog:not(:last-child) {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

div.paginator {
    text-align: center;
}

div.blog h3 {
    margin-top: 0.5em;
}

div.blog p.blog_info {
    margin-bottom: 0; 
}

ul.blog_info_description {
    list-style-type: none;
    margin-top: 1em;
}

ul.blog_info_description li {
    display: inline-block;
    margin-right: 0.5em;
}


div.blog_more {
    margin-top: 1em;
}

div.comment_area {
    margin-top: 2em ;
}

h3.comment_area_title {
    border-bottom: 1px solid #ccc ;
    padding-bottom: 10px ;
}

textarea.comment_textarea {
    border: 1px solid #e5e9ef;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment_item {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

div.reply {
    margin-left: 2em;
}

div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like {
    margin-top: 2em;
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
}

div.like .active{
    color: #f22;
}